.buttons{
    display: flex;
    
}
button{
    width:24%;
    background-color:#acafb1;
}
.img{
    background-image: url("typing.jpg");
    width:80%;
    height:500px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    padding-left: 20px;;
    color:white;
    display: flex;
    flex-direction:column ;
    justify-content: center;


}
.container{
    display: flex;
    justify-content: space-evenly;

    
}
.membership{
    height:210px;
    width:250px;
    background-color: #acafb1;
    text-align: center;
    padding-top:30px;
    
    
}
.cont2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.container2{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;

}
.a{
    height:200px;
    width:300px;
    background-color: #acafb1;
    
}
@media only screen and (max-width:600px) {
.buttons{
    display:flex;
    flex-direction: column;
    gap: 10px;
    
}
button{
    width:95%;

}
.img{
    width:92%

}
.b1{
    width:100px;

}
.container{
    flex-direction: column;
}
.cont2{
    flex-direction: row;
    margin-top:30px;
}
.container2{
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;


    
}
.a{
    width:90%;
    align-items:center
}
    
}
